<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/workspace.css">
    <title>workspace</title>
</head>
<body>
    
    <div class="container">

        <div class="menu">
            <label for="" class="search-bar">Search</label>
            <input class="text" type="text" name="search_bar" placeholder="Search..">
            <% for(let i=0; i<files.length; i++) { %>
                <li>
                    <%= files[i].name %>
                    <a href="/workspace/<%= files[i].name %>">
                        <button class="open-btn" id="show">Show</button>
                    </a>
                </li>
            <% } %>
            
        </div>

        <form class="form">
            <button type="button" class="save-btn" style="float: right">Review</button>
            <div>
                <label for="input-file"></label><br>             
               <!-- for adding file name in filename text -->
             <input type="file" name="input-file" class="choose-btn" id="input-file" >
            </div>
             <input type="text" name="filename" id="filename" class="filename" placeholder="Insert a title">    

            <textarea class="textarea" name="content" id="content-target" cols="80" rows="50"></textarea>
            
        </form>
    </div>

</body>

<script src="js/choosingfile.js"></script>
</html>