<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/workspace.css">
    <title>workspace</title>
</head>
<body>
    
    <div class="container">

        <div class="menu">
            <label for="" class="search-bar">Search</label>
            <input class="text" type="text" name="search_bar" placeholder="Search..">
            <% for(let i=0; i<files.length; i++) { %>
                    <li>
                        <%= files[i].name %>
                        <button class="open-btn">Show</button>
                    </li>
            <% } %>
        </div>

        <form action="/workspace" method="post" class="form">
            <button type="submit" class="save-btn" style="float: right">Save</button>
            <input type="text" name="filename" id="" class="filename" placeholder="Insert title here" required>
            
            <textarea class="textarea" name="content" id="" cols="80" rows="50"></textarea>
            
        </form>
    </div>

    

</body>
</html>